<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quintus.labs.reminder">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.quintus.labs.reminder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.quintus.labs.reminder.CreateOrEditNote"
            android:parentActivityName="com.quintus.labs.reminder.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quintus.labs.reminder.MainActivity" />
        </activity>

        <activity
            android:name="com.quintus.labs.reminder.CreateOrEditAlert"
            android:parentActivityName="com.quintus.labs.reminder.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quintus.labs.reminder.MainActivity" />
        </activity>

        <receiver android:name="com.quintus.labs.reminder.AlarmSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.quintus.labs.reminder.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name="com.quintus.labs.reminder.AlarmService"
            android:enabled="true" />
        <provider
            android:name="com.quintus.labs.reminder.ReminderContentProvider"
            android:authorities="com.quintus.labs.reminder"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="LentItemsProvider"
            android:readPermission="com.example.kyle.reminder.READ"
            android:writePermission="com.example.kyle.reminder.WRITE" />
    </application>


</manifest>